<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/campgrounds">YelpCamp</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="server.token==null || server.token==undefined"><a routerLink="/login">Login</a></li>
        <li *ngIf="server.token==null || server.token==undefined"><a routerLink="/signup">SignUp</a></li>
        <li *ngIf="server.token!=null && server.token!=undefined"><a routerLink="/" (click)="onLogout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>









