<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="landing-header" class="jumbotron">
        <div id ="head">
        <h1>Welcome to YelpCamp!</h1>
        <p id="raogaru">View our Handpicked Campgrounds across the world!!</p>

        <button type="button" class="btn btn-lg btn-success" routerLink="/login">Login</button>
        or
        <button type="button" class="btn btn-lg btn-success" routerLink="/campgrounds">View Campgrounds as Guest</button>
  <div>
        <small>Note: You will have a read only access if you do not login</small>
  </div>
      </div>
      </div>
      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>








